<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Bem vindo a nossa página de comidas!</h2>
    <p>Confira nossas promoções de frutas da semana!</p>
  </body>
</html>