<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGDT9W5XHXm6B5_7zu4lHx39an5pp8VsXvA&s" alt="Logo do Projeto">
  </body>
</html>
