extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTroW5vqVZ3Avh9lZ1L5UOGBzmw4UG9U8Ya7g&s", alt="Um livrão", width="300")

